$colors-gray-50: #fafafa;
$colors-gray-100: #f4f4f5;
$colors-gray-200: #e4e4e7;
$colors-gray-300: #d4d4d8;
$colors-gray-400: #a1a1aa;
$colors-gray-500: #71717a;
$colors-gray-600: #52525b;
$colors-gray-700: #3f3f46;
$colors-gray-800: #27272a;
$colors-gray-900: #18181b;
$colors-primary-50: #fdf2f2;
$colors-primary-100: #fde8e8;
$colors-primary-200: #fbd5d5;
$colors-primary-300: #f8b4b4;
$colors-primary-400: #f98080;
$colors-primary-500: #f05252;
$colors-primary-600: #e02424;
$colors-primary-700: #c81e1e;
$colors-primary-800: #9b1c1c;
$colors-primary-900: #771d1d;
$colors-secondary-50: #fff8f1;
$colors-secondary-100: #feecdc;
$colors-secondary-200: #fcd9bd;
$colors-secondary-300: #fdba8c;
$colors-secondary-400: #ff8a4c;
$colors-secondary-500: #ff5a1f;
$colors-secondary-600: #d03801;
$colors-secondary-700: #b43403;
$colors-secondary-800: #8a2c0d;
$colors-secondary-900: #771d1d;
$text-decoration-none: none;
$text-decoration-line-through: line-through;
$text-decoration-underline: underline;
$border-radius-base: 8px;
$border-radius-sm: 4px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: 50%;
$spacing-base: 8;
$spacing-xs: 8*0.25;
$spacing-sm: 8*0.5;
$spacing-md: 8*2;
$spacing-lg: 8*4;
$spacing-2xl: 8*5;
$spacing-3xl: 8*6;
$spacing-4xl: 8*7;
$spacing-5xl: 8*8;
$sizing-base: 8;
$sizing-xs: 8*0.25;
$sizing-sm: 8*0.5;
$sizing-md: 8*2;
$sizing-lg: 8*3;
$sizing-xl: 8*4;
$sizing-2xl: 8*5;
$sizing-3xl: 8*6;
$sizing-4xl: 8*7;
$sizing-5xl: 8*8;
$font-sizes-base: 16;
$font-families-base: Roboto;
$typography-xs-font-family: Roboto;
$typography-xs-line-height: 16;
$typography-xs-font-size: 0.75*16;
$typography-xs-font-weight: Regular;
$typography-xs-letter-spacing: 0;
$typography-xs-paragraph-spacing: 0;
$typography-xs-text-decoration: none;
$typography-xs-text-case: none;
$typography-sm-font-family: Roboto;
$typography-sm-line-height: 1.25*16;
$typography-sm-font-size: 0.875*16;
$typography-sm-font-weight: Regular;
$typography-sm-letter-spacing: 0;
$typography-sm-paragraph-spacing: 0;
$typography-sm-text-decoration: none;
$typography-sm-text-case: none;
$typography-base-font-family: Roboto;
$typography-base-line-height: 1.5*16;
$typography-base-font-size: 16;
$typography-base-font-weight: Regular;
$typography-base-letter-spacing: 0;
$typography-base-paragraph-spacing: 0;
$typography-base-text-decoration: none;
$typography-base-text-case: none;
$typography-lg-font-family: Roboto;
$typography-lg-line-height: 1.75*16;
$typography-lg-font-size: 1.125*16;
$typography-lg-font-weight: Regular;
$typography-lg-letter-spacing: 0;
$typography-lg-paragraph-spacing: 0;
$typography-lg-text-decoration: none;
$typography-lg-text-case: none;
$typography-xl-font-family: Roboto;
$typography-xl-line-height: 1.75*16;
$typography-xl-font-size: 1.25*16;
$typography-xl-font-weight: Regular;
$typography-xl-letter-spacing: 0;
$typography-xl-paragraph-spacing: 0;
$typography-xl-text-decoration: none;
$typography-xl-text-case: none;
$typography-2xl-font-family: Roboto;
$typography-2xl-line-height: 2*16;
$typography-2xl-font-size: 1.5*16;
$typography-2xl-font-weight: Regular;
$typography-2xl-letter-spacing: 0;
$typography-2xl-paragraph-spacing: 0;
$typography-2xl-text-decoration: none;
$typography-2xl-text-case: none;
$typography-3xl-font-family: Roboto;
$typography-3xl-line-height: 2.25*16;
$typography-3xl-font-size: 1.875*16;
$typography-3xl-font-weight: Regular;
$typography-3xl-letter-spacing: 0;
$typography-3xl-paragraph-spacing: 0;
$typography-3xl-text-decoration: none;
$typography-3xl-text-case: none;
$typography-4xl-font-family: Roboto;
$typography-4xl-line-height: 2.5*16;
$typography-4xl-font-size: 2.25*16;
$typography-4xl-font-weight: Regular;
$typography-4xl-letter-spacing: 0;
$typography-4xl-paragraph-spacing: 0;
$typography-4xl-text-decoration: none;
$typography-4xl-text-case: none;
$typography-5xl-font-family: Roboto;
$typography-5xl-line-height: 3*16;
$typography-5xl-font-size: 3*16;
$typography-5xl-font-weight: Regular;
$typography-5xl-letter-spacing: 0;
$typography-5xl-paragraph-spacing: 0;
$typography-5xl-text-decoration: none;
$typography-5xl-text-case: none;
$button-border-radius-default: 8px;
$button-padding-xs-y: 8px;
$button-padding-xs-x: 12px;
$button-padding-y-sm: 8px;
$button-padding-x-sm: 12px;
$button-padding-y-base: 10px;
$button-padding-x-base: 20px;
$button-padding-y-large: 12px;
$button-padding-x-large: 18px;
$button-padding-y-xl: 14px;
$button-padding-x-xl: 24px;
$button-spacing-xs: 8px;
$button-spacing-sm: 8px;
$button-spacing-base: 8px;
$button-spacing-lg: 12px;
$button-spacing-xl: 12px;
$button-sizing-icon-xs: #{8*2}px;
$button-sizing-icon-sm: #{8*2}px;
$button-sizing-icon-base: #{8*2}px;
$button-sizing-icon-lg: #{8*3}px;
$button-sizing-icon-xl: #{8*3}px;
$button-secondary-background-color-default: #ff5a1f;
$button-secondary-background-color-hover: #b43403;
$button-secondary-background-color-active: #771d1d;
$button-secondary-text-color-default: #ffffff;
$button-secondary-text-color-hover: #ffffff;
$button-secondary-text-color-active: #ffffff;
$button-secondary-border-color-default: #fcd9bd;
$button-secondary-border-color-hover: #fcd9bd;
$button-secondary-border-color-active: #fcd9bd;
$button-primary-background-color-default: #f05252;
$button-primary-background-color-hover: #c81e1e;
$button-primary-background-color-active: #771d1d;
$button-primary-text-color-default: #ffffff;
$button-primary-text-color-hover: #ffffff;
$button-primary-text-color-active: #ffffff;
$button-primary-border-color-default: #fbd5d5;
$button-primary-border-color-hover: #fbd5d5;
$button-primary-border-color-active: #fde8e8;
$button-border-width-default: 0px;
$button-border-width-hover: 0px;
$button-border-width-active: 3px;
$size-font-small: 0.75rem; // the small size of the font
$size-font-medium: 1rem; // the medium size of the font
$size-font-large: 2rem; // the large size of the font
$size-font-base: 1rem; // the base size of the font